body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(163, 203, 255);
  color: #333;
}

header {
  background-color: #3b3b3b;
  color: white;
  padding: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
}

header p {
  text-align: left;
  padding: 2em;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

header a {
  font-size: 1.5em;
  margin-left: 20px;
  padding: 0.3em;
  color: white;
  text-decoration: none;
}

header a:hover {
  transition: 0.2s;
  background-color: rgb(0, 0, 0);
}

section {
  text-align: center;
  margin: 20px;
}

#velemeny {
  width: 600px;
  height: 200px;
  font-size: 1.2em;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  text-align: left;
}

.quiz {
  margin-top: 5em;
  margin-left: 3em;
  margin-right: 3em;
  padding: 3em;
  text-align: left;
  background-color: white;
}

.kerdes {
  background-color: #9292927c;
  padding: 5em;
  border-radius: 8px;
}

.status-msg {
 margin-top: 0.8rem;
 font-weight: 700;
 font-size: 0.9rem;
}